@model SpendSmart_Second_Web_application_.Models.Register

<div class="text-center">
<h1>Authorization</h1>
    <img src="https://i.pinimg.com/564x/be/b8/1e/beb81e88c962381ceafe08452f2c03dc.jpg" height="550" width="800" /><br />
    <span id="question">Ти аутист?</span><br>
    <button class="btn-primary" id="hideButton" onclick="hideElements()">Ні</button>

    <script>
        function hideElements() {
            // Сповіщення (те, що ви вже мали)
            alert('Наєбав');

            // Знаходимо елементи за їх ID та приховуємо їх
            document.getElementById("question").style.display = "none"; // приховує текст
            document.getElementById("hideButton").style.display = "none"; // приховує кнопку
        }
    </script>
</div>
<div style="position: absolute; top: 10px; right: 10px; display: flex; gap: 10px;">
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Sign In</a>
    <a class="btn btn-secondary" asp-controller="Account" asp-action="Register">Sign Up</a>
</div>
